<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/styles.scss" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <!--Accordian cdns-->
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/src/js/Accordian.js" ></script>
    <!-- Link Swiper's  slider CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <!-- Swiper  slider JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <title>Services</title>
</head>
<body>
    <div class="container-fluid li-main">
        <!--navbar Start -->
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/index.html">Spanlite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" fill="blue"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/components/ligtingsol/ls.html">Lighting Solutions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/components/projects/projects.html">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./Services.html">Services</a>
                </li>
    
                <li class="nav-item">
                  <a class="nav-link" href="../products/product.html">Products</a>
                </li>
    
                <li class="nav-item">
                  <a class="nav-link" href="/components/resources/resources.html">Resources</a>
                </li>
              </ul>
              <div class="custom-select d-flex justify-content-between align-items-center" style="width: 200px">
                <select class="py-2">
                  <option value="0">Languages</option>
                  <option value="1">English</option>
                  <option value="2">Urdu</option>
                  <option value="3">Arabic</option>
                  <option value="4">Chinese</option>
                </select>
                <i class="bi bi-search text-white px-2"></i>
              </div>
            </div>
          </div>
        </nav>
        <!--navbar end -->
        <!--hero Section Start -->
        <div class="light-bg-grey py-5 px-3 py-5 px-3">
            <p class="h1 m-0 col-sm-9">
                With an established presence in the lighting industry for over 25 years, Spanlite delivers iconic illuminated features, combining bespoke products and comprehensive project services.
            </p>
            <button type="button" class="bg-info text-white rounded-circle btn-circle d-block block-left">
              Need help?
            </button>
         </div>
              <!--hero Section end -->
              <!--About Section start -->
              <div class="container-fluid py-3">
        <div class="row py-4">
          <div class="col-lg-2 p-0">
            <div class="Services-About-heading">
              <h2>About Us</h2>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="Services-About-content">
                <P>
                    Spanlite initially launched with a single, innovative lighting product, LED Light Sheet.
                    <br /><br />
                    Developed by founder Adrian Bowker, this unique lighting solution solved many backlighting issues and was quickly adopted by architects, designers and contractors.
                    <br /><br />
                    As Spanlite's client base and project experience grew, our collaborative approach helped us absorb our clients' visions and challenges, and our creative spirit led us to develop a unique range of effective solutions that are perfectly suited to creating bespoke architectural illuminated surfaces that are easy to implement.
                    <br /><br />
                    Today we offer a comprehensive set of  made-to-measure lighting solutions and translucent surfaces to customers around the world, and our supportive project services help guide our clients through every stage of the design-build process.
                    <br /><br />
                </P>
            </div>
          </div>
        </div>
      </div>
              <!--About Section end  -->
              <!--Slider  -->
               <section class="slider-container">
                
                  <div class="swiper card-slider">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="text-box">
                          <p>“Spanlite could not have been more helpful, they provided a really fantastic service in every respect and a superb product
                            . We are absolutely delighted with the result and would totally recommend them“ </p>
                            <h5>K Bliss - Private Residence</h5>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="text-box">
                          <p>“Spanlite could not have been more helpful, they provided a really fantastic service in every respect and a superb product
                            . We are absolutely delighted with the result and would totally recommend them“ </p>
                            <h5>K Bliss - Private Residence</h5>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="text-box">
                          <p>“Spanlite could not have been more helpful, they provided a really fantastic service in every respect and a superb product
                            . We are absolutely delighted with the result and would totally recommend them“ </p>
                            <h5>K Bliss - Private Residence</h5>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="text-box">
                          <p>“Spanlite could not have been more helpful, they provided a really fantastic service in every respect and a superb product
                            . We are absolutely delighted with the result and would totally recommend them“ </p>
                            <h5>K Bliss - Private Residence</h5>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="text-box">
                          <p>“Spanlite could not have been more helpful, they provided a really fantastic service in every respect and a superb product
                            . We are absolutely delighted with the result and would totally recommend them“ </p>
                            <h5>K Bliss - Private Residence</h5>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="text-box">
                          <p>“Spanlite could not have been more helpful, they provided a really fantastic service in every respect and a superb product
                            . We are absolutely delighted with the result and would totally recommend them“ </p>
                            <h5>K Bliss - Private Residence</h5>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="text-box">
                          <p>“Spanlite could not have been more helpful, they provided a really fantastic service in every respect and a superb product
                            . We are absolutely delighted with the result and would totally recommend them“ </p>
                            <h5>K Bliss - Private Residence</h5>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                  </div>
                
               </section>
              <!--Slider  end  -->
              <!--Slider  js  -->
              <script>
                var swiper = new Swiper(".card-slider", {
                  spaceBetween: 0,
                  hashNavigation: {
                  watchState: true,
             },
                pagination: {
                   el: ".swiper-pagination",
                   clickable: true,
               },
                  navigation: {
                  nextEl: ".swiper-button-next",
                  prevEl: ".swiper-button-prev",
                },
                     });
               </script>
              <!--Slider  js end -->
              <!--Our services -->
              <div class="container-fluid py-3">
                <div class="row py-4">
                  <div class="col-lg-2 p-0">
                    <div class="Services-About-heading">
                      <h2>Our Services</h2>
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="Services-About-content">
                        <P>
                          Our team of designers and engineers are recognised for 
                          their unique ability to combine lighting, surface & structure, de
                          livering them seamlessly into the built environment.  
                            <br /><br />
                          We love developing our client's visions into stunning features
                           that exceed their expectations. From design concept through to installation, our team's unique skill set will help fine-tune your 
                          project and help you deliver something truly remarkable.
                            <br /><br />
                        </P>
                        <!--Accordian-->
                        <div class="panel-group" id="accordion">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                  <i class="bi bi-plus"></i>
                                  Sales & Client Services</a>
                              </h4>
                            </div> 
                            <div id="collapse1" class="panel-collapse collapse in">
                              <div class="panel-body">Our friendly sales and client services team will oversee your project through every stage.  From your initial enquiry, through design development,
                                 production and installation, they are always on hand to help you and will guide y
                                our project to completion.  Their proactive stance ensures that each phase is closely monitored and that documents, designs, samples and products are delivered to schedule.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                  <i class="bi bi-plus"></i>
                                  Technical Team</a>
                              </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                              <div class="panel-body">With years of experience in the industry,
                                 our technical team are masters at identifying the best systems and bespoke solutions on any project.</div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                  <i class="bi bi-plus"></i>
                                  Studio  & Artwork</a>
                              </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                              <div class="panel-body">Our Design Studio 
                                is equipped to handle all your graphic design needs.   
                                <br /><br />
                                Our skilled designers are experts 
                                at handling large format imagery and understand how designs can be applied to illuminated surface materials.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                  <i class="bi bi-plus"></i>
                                  Manufacturing</a>
                              </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                              <div class="panel-body">Once all details have been agreed and signed off, your project moves into production with Spanlite’s Manufacturing team. 
                                <br /><br />
                                Everything we make is made-to-measure.  Our engineers fabricate each element to a precise set of criteria to match your requirements.   
                                <br /><br />
                                On more unusual projects, samples & mock-ups will be manufactured for approval, validating design decisions and ensuring client satisfaction. 

                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                  <i class="bi bi-plus"></i>
                                  Installation Team</a>
                              </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                          </div>
                        </div> 
                         <!--Accordian End -->
                    </div>
                  </div>
                </div>
              </div>
              <!--Our Services end -->
              <!--Our Process  -->
              <section class="Our-services-s">
                <div class="container">
                      <div class="recent_project_heading text-center">
                        <h2 class="m-0 pt-4">Our Process</h2>
                      </div>
                   <div class="row">
                    <div class="number-text col-sm-1">
                      <p>1</p>
                    </div>
                    <div class="btn-square5 col-sm-1"></div>
                    <p class="our-process-p col-sm-10">
                      Consultation <br>
                      During early consultations, we'll absorb your vision, clarify your overall design intent and 
                      identify all practical considerations such as your build environment, timelines and budgets.					
                    </p>
                   </div>
                   <div class="row">
                    <div class="number-text col-sm-1">
                      <p>2</p>
                    </div>
                    <div class="btn-square6 col-sm-1"></div>
                    <p class="our-process-p col-sm-10">
                      Project Analysis <br>
                      Our technical and design teams collaborate to devise the most 
                      suitable systems, define materials and establish structural engineering details. 										
                    </p>
                   </div>
                   <div class="row">
                    <div class="number-text col-sm-1">
                      <p>3</p>
                    </div>
                    <div class="btn-square5 col-sm-1"></div>
                    <p class="our-process-p col-sm-10">
                      Proposal <br>
                      Our client services team offer our proposal and work with you to ensure that it 
                      includes everything you need.  Any final details are agreed and our sales team prepare your quotation.   										
                    </p>
                   </div>
                   <div class="row">
                    <div class="number-text col-sm-1">
                      <p>4</p>
                    </div>
                    <div class="btn-square6 col-sm-1"></div>
                    <p class="our-process-p col-sm-10">
                      Tender Process & Accreditation <br>
                      Some larger projects will go out to tender with contractors or may require us to go through an accreditation
                       process.  Client Services will happily liaise with your affiliates and provide all the required information on time.									
                    </p>
                   </div>
                   <div class="row">
                    <div class="number-text col-sm-1">
                      <p>5</p>
                    </div>
                    <div class="btn-square5 col-sm-1"></div>
                    <p class="our-process-p col-sm-10">
                      Production<br>
                      When you're ready to move forward, our Production Team oversees the manufacture of
                      every element, within the agreed lead time.  All of our lighting is manufactured in-house
                      by our experts and we collaborate with trusted partners to deliver a wide range of surfaces
                       and structural components.  					
                    </p>
                   </div>
                   <div class="row">
                    <div class="number-text col-sm-1">
                      <p>6</p>
                    </div>
                    <div class="btn-square6 col-sm-1"></div>
                    <p class="our-process-p col-sm-10">
                      Delivery & Installation. <br>
                      We'll arrange for your order to be safely delivered to your preferred location, anywhere in the world. <br>
                      If you'd like our help on site, our Installation Team can take care of the build for you.   They can 
                      install the lighting, surface and structural elements and can programme any lighting sequences required for
                       your project.  Our installers are respectful, efficient and tidy, and have been trained to industry standards.					 					
                    </p>
                   </div>
                  
                </div>
                </section>
              <!--Our Services end -->
              <!--my team -->
              <section class="my-team container-fluid">
                <h2 class=" mt-heading col-md-3">Meet the Team</h2>
                <div class="team">
                  <div class="row ">
                    <div class="row  col-sm-4">
                      <div class="members col-sm-1">
                      <img class="members-img" src="/Images/team1.png" alt=""></div>
                      <div class="members-text col-sm-6">
                        <h5>Adrian Bowker<br>
                          Founder & Technical Director</h5>
                        <p>Adrian's creative spirit, coupled with his engineering know-how,
                           drives each project forward. With his ever-growing knowledge of lighting technology,
                            and how it integrates with surface and structure, Adrian's innovative spirit continues
                             to enhance Spanlite's product offering.</p>
                      </div>                    
                    </div>
                    <div class="row  col-sm-4">
                      <div class="members col-sm-1">
                      <img class="members-img" src="/Images/team2.png" alt=""></div>
                      <div class="members-text col-sm-6">
                        <h5>Doug Benjamin<br>
                          Head of Sales Worldwide</h5>
                        <p>Doug has worked in business development within the LED lighting industry for the last 20
                           years, growing a large and network of contacts. His experience provides a solid foundation
                            for Spanlite’s specialist offerings.</p>
                      </div>                    
                    </div>
                    <div class="row  col-sm-4">
                      <div class="members col-sm-1">
                      <img class="members-img" src="/Images/team3.png" alt=""></div>
                      <div class="members-text col-sm-6">
                        <h5>Kelly Verstappen
                          Marketing & Client Services</h5>
                        <p>Kelly brings significant organisational and creative expertise, with a background in the
                           creative arts and marketing. Her tenacity for detail and insistence on all t's being crossed
                            ensures that all projects run to plan.</p>
                      </div>                    
                    </div>
                  </div>
                  <div class="row ">
                    <div class="row  col-sm-4">
                      <div class="members col-sm-1">
                      <img class="members-img" src="/Images/team4.png" alt=""></div>
                      <div class="members-text col-sm-6">
                        <h5>Judith Hughes <br>
                          Production</h5>
                        <p>With her background in operations and project management, Jude brings key
                           organisational skills to her role. Overseeing our manufacturing from procurement 
                           through to the finished product, Jude ensures our production department operates 
                           smoothly and efficiently.</p>
                      </div>                    
                    </div>
                    <div class="row  col-sm-4">
                      <div class="members col-sm-1">
                      <img class="members-img" src="/Images/team5.png" alt=""></div>
                      <div class="members-text col-sm-6">
                        <h5>Chris Winter <br>
                          Studio Manager</h5>
                        <p>Chris oversees our studio services and produces production and design work for Spanlite.
                           With a depth of studio experience built over many years working in London ad agency studios,
                            there's no graphic challenge he can't overcome.</p>
                      </div>                    
                    </div>
                    <div class="row  col-sm-4">
                      <div class="members col-sm-1">
                      <img class="members-img" src="/Images/team6.png" alt=""></div>
                      <div class="members-text col-sm-6">
                        <h5>Mike Otter <br>
                          Head of Sales Canada</h5>
                        <p>Mike Otter is a business development specialist with over 25 years of experience in the 
                          construction industry. He has formed strong, enduring relationships with architects, designers, 
                          developers and contractors throughout Canada and and beyond.</p>
                      </div>                    
                    </div>
                  </div>
                  <div class="row ">
                    <div class="row  col-sm-4">
                      <div class="members col-sm-1">
                      <img class="members-img" src="/Images/team7.png" alt=""></div>
                      <div class="members-text col-sm-6">
                        <h5>Noah Goodman
                          Manufacturing & Installation</h5>
                        <p>An all-rounder when it comes to workshop operations, Noah's practical 
                          and problem-solving nature is born from his site experience and building 
                          maintenance work. Noah's loves seeing projects through to installation, 
                          where his positivity and work ethic are an asset on site.</p>
                      </div>                    
                    </div>
                   
                  </div>
                 
                </div>
              </section>
              <!--my team -->
    <!--footer-->
    <footer class="main_footer">
        <div class="container-fluid">
          <div class="row p-4">
            <div
              class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
            >
              <div class="footer_col_title">
                <h2 class="text-white">Spanlite</h2>
              </div>
              <div class="footer_col_content">
                <p class="m-0">© 2022</p>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
            >
              <div class="footer_col_title">
                <h2>Quick Links</h2>
              </div>
              <div class="footer_pages_link d-flex">
                <div class="footer_section_pages">
                  <p class="m-0 py-1"><a href="/index.html">Home</a></p>
                  <p class="m-0 py-1"><a href="/components/Contact Us/contact.html">Contact Us</a></p>
                  <p class="m-0 py-1"><a href="/components/Digitallib/digitallib.html">Digital Image Library </a></p>
                  <p class="m-0 py-1"><a href="../Stoneslab/Stone.html">Stone Slab Library</a></p>
                </div>
                <div class="footer_section_pages">
                  <p class="m-0 py-1"><a href="../Help/help.html">Help</a></p>
                  <p class="m-0 py-1"><a href="../Privacy/privacy.html">Privacy Policy</a></p>
                  <p class="m-0 py-1"><a href="../TermsCondition/terms.html">Website T&Cs </a></p>
                  <p class="m-0 py-1"><a href="../Spanlightbuisness/spanlightbuisness.html">Spanlite Bussines T&Cs</a></p>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
            >
              <div class="footer_col_title">
                <h2>Newsletter</h2>
              </div>
  
              <div class="footer_col_content">
                <p>
                  Signup to receive Monthly Emails with informative guides
                  up-to-date industry news and news on our latest products
                </p>
              </div>
  
              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Your email address"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
          </div>
        </div>
    
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
           style="border-top: 3px solid #0693e3;" >
              <div class="footer_col_title">
                <h2 class="text-white">Contact Us</h2>
              </div>
              <div class="footer_col_content">
                <p class="m-0">
                  We’d love to hear about your upcoming projects
                </p>
              </div>
              <div class="footer_col_icons">
                <i class="bi bi-facebook px-2 text-white"></i>
                <i class="bi bi-instagram px-2 text-white"></i>
                <i class="bi bi-twitter px-2 text-white"></i>
                <i class="bi bi-linkedin px-2 text-white"></i>
              </div>
              <div class="footer_col_content">
                <p class="m-0">info@spanlite.com</p>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
              style="border-top: 3px solid #8ed1fc;">
              <div class="footer_col_title">
                <h2>Head Office: UK, USA & Worldwide</h2>
              </div>
              <div class="footer_col_content py-4">
                <p class="m-0">Rear of 10, Colebrook Rd</p>
                <p class="m-0">Southwick, Brighton</p>
                <p class="m-0">West Sussex</p>
                <p class="m-0">BN42 4AL, UK</p>
              </div>
              <div class="footer_col_content">
                <p class="m-0">+ 44(0)1273007280</p>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
              style="border-top: 3px solid #00d084;">
              <div class="footer_col_title">
                <h2>Canadian Division</h2>
              </div>
  
              <div class="footer_col_content py-4">
                <p class="m-0">38 Fallingbrook Rd</p>
                <p class="m-0">Toronto</p>
                <p class="m-0">Ontario</p>
                <p class="m-0">M1N 2T4</p>
              </div>
              <div class="footer_col_content">
                <p class="m-0">+ 44(0)1273007280</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="container-fluid py-4 px-3">
        <div class="row align-items-center">
          <div class="col-lg-3">
            <div
              class="download_brochure_section d-flex align-items-center py-3"
            >
              <div class="icon_button">
                <button type="button p-0" class="btn arrow_btn btn-info">
                  <img src="/Images/Fill-1.png" alt="" />
                </button>
              </div>
              <p class="m-0 px-1">Download our Brochure</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="footer_images_section d-flex flex-wrap justify-content-center py-3"
            >
              <img src="/Images/sedex-logo.jpg" alt="" />
              <img src="/Images/mib-logo.jpg" alt="" />
              <img src="/Images/bp-logo.jpg" alt="" />
              <img src="/Images/ul-logo-1.jpg" alt="" />
              <img src="/Images/achilles-logo.jpg" alt="" />
              <img src="/Images/safe-logo.jpg" alt="" />
            </div>
          </div>
          <div class="col-lg-3">
            <div class="design_by_section d-flex justify-content-end py-3">
              <p class="m-0">Designed by Catherine </p>
            </div>
          </div>
        </div>
      </div>
    </div>
      
        <!--footer-->
</body>
</html>