<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

  <link rel="stylesheet" href="../../scss/styles.scss" />

  <title>Projects</title>
</head>

<body>
  <div class="container-fluid p-0">
    <div class="row g-0" id="gallery">
      <div class="col-sm-12">
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/index.html">Spanlite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" fill="blue"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/components/ligtingsol/ls.html">Lighting
                    Solutions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/components/projects/projects.html">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/components/Services/Services.html">Services</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Products</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Resources</a>
                </li>
              </ul>
              <div class="custom-select d-flex justify-content-between align-items-center" style="width:200px;">
                <select class="py-2">
                  <option value="0">Languages</option>
                  <option value="1">English</option>
                  <option value="2">Urdu</option>
                  <option value="3">Arabic</option>
                  <option value="4">Chinese</option>
                </select>
                <i class="bi bi-search text-white px-2"></i>
              </div>

            </div>
          </div>
        </nav>
        <!--hero section-->
        <div class="light-bg-grey py-5 px-3 py-5 px-3">
          <p class="h1 m-0 ">
            We Make Light Work
          </p>
          <button type="button" class="bg-info text-white rounded-circle btn-circle d-block block-left">
            Need help?
          </button>
          <!--hero section--->
          <!-- filter section start -->
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-2">

                    <h2 class="filters">Filters</h2>
                  </div>
                  <div class="col-sm-3">

                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected>All Applications </option>
                      <option value="1">All Applications</option>
                      <option value="2">All light boxes</option>
                      <option value="3"> Entire Features  Walls </option>
                      <option value="4">Illuminated Wall Panels</option>
                      <option value="5">Lifts  </option>
                      <option value="6">Reception Desks & Bars </option>
                      <option value="7">Shelves </option>
                      <option value="8">Signage </option>
                      <option value="9"> Unique Projects</option>
                  
                    </select>
                  </div>
                  <div class="col-sm-3">

                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected>All Industries</option>
                      <option value="1">Hospitality</option>
                      <option value="2">Leisure</option>
                      <option value="3">Office </option>
                      <option value="4">Public Spaces </option>
                      <option value="5"> Residental</option>
                      <option value="6">Retail</option>
                      
                    </select>
                  </div>
                  <div class="col-sm-3">

                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected>All Products</option>
                      <option value="1">Acrylic</option>
                      <option value="2">Backlit Array</option>
                      <option value="3">Color Changing </option>
                      <option value="4">Dynamic/Tuneable</option>
                      <option value="5">Edge Lit Glass</option>
                      <option value="6">LED Display Lightbox</option>
                      <option value="7">LED Light Sheet</option>
                      <option value="8">Light Bars</option>
                      <option value="9">Lightfield</option>
                      <option value="10">Other Glass Surfaces</option>
                      <option value="11">Stratum Image Glass</option>
                      <option value="12">Stratum Seal</option>
                      <option value="13">Stratum Stone</option>
                      <option value="13">Stretch Fabric Ceilings & Walls</option>
                      <option value="13">Stretch Fabric Raft Panel</option>
                      <option value="13">Unique Projects </option>
                      <option value="13">Wet </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- filter section end -->
        </div>
      </div>


    </div>
    <!--Gallery start-->
    <div class="container p-5 gallery">
      <div class="row g-0">
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/5.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/6.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/7.jpg" alt="" />
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/8.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/9.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/10.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/11.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/12.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/13.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/14.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/15.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/Images/16.jpg" alt="" />
          </div>
          
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="lightning_card p-3">
            <img src="/src/Images/16.jpg" alt="" />
          </div>
          
        </div>
      </div>

    </div>
    <!--Gallery end-->
    <!--footer-->
    <footer class="main_footer">
      <div class="container-fluid">
        <div class="row p-4">
          <div
            class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
          >
            <div class="footer_col_title">
              <h2 class="text-white">Spanlite</h2>
            </div>
            <div class="footer_col_content">
              <p class="m-0">© 2022</p>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
          >
            <div class="footer_col_title">
              <h2>Quick Links</h2>
            </div>
            <div class="footer_pages_link d-flex">
              <div class="footer_section_pages">
                <p class="m-0 py-1"><a href="#">Home</a></p>
                <p class="m-0 py-1"><a href="/components/Contact Us/contact.html">Contact Us</a></p>
                <p class="m-0 py-1"><a href="/components/Digitallib/digitallib.html">Digital Image Library </a></p>
                <p class="m-0 py-1"><a href="#">Stone Slab Library</a></p>
              </div>
              <div class="footer_section_pages">
                <p class="m-0 py-1"><a href="#">Help</a></p>
                <p class="m-0 py-1"><a href="#">Privacy Policy</a></p>
                <p class="m-0 py-1"><a href="#">Website T&Cs </a></p>
                <p class="m-0 py-1"><a href="#">Spanlite Bussines T&Cs</a></p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
          >
            <div class="footer_col_title">
              <h2>Newsletter</h2>
            </div>

            <div class="footer_col_content">
              <p>
                Signup to receive Monthly Emails with informative guides
                up-to-date industry news and news on our latest products
              </p>
            </div>

            <div class="input-group">
              <input
                type="email"
                class="form-control"
                placeholder="Your email address"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
      </div>
  
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
         style="border-top: 3px solid powderblue;" >
            <div class="footer_col_title">
              <h2 class="text-white">Contact Us</h2>
            </div>
            <div class="footer_col_content">
              <p class="m-0">
                We’d love to hear about your upcoming projects
              </p>
            </div>
            <div class="footer_col_icons">
              <i class="bi bi-facebook px-2 text-white"></i>
              <i class="bi bi-instagram px-2 text-white"></i>
              <i class="bi bi-twitter px-2 text-white"></i>
              <i class="bi bi-linkedin px-2 text-white"></i>
            </div>
            <div class="footer_col_content">
              <p class="m-0">info@spanlite.com</p>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
            style="border-top: 3px solid powderblue;">
            <div class="footer_col_title">
              <h2>Head Office: UK, USA & Worldwide</h2>
            </div>
            <div class="footer_col_content py-4">
              <p class="m-0">Rear of 10, Colebrook Rd</p>
              <p class="m-0">Southwick, Brighton</p>
              <p class="m-0">West Sussex</p>
              <p class="m-0">BN42 4AL, UK</p>
            </div>
            <div class="footer_col_content">
              <p class="m-0">+ 44(0)1273007280</p>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
            style="border-top: 3px solid powderblue;">
            <div class="footer_col_title">
              <h2>Canadian Division</h2>
            </div>

            <div class="footer_col_content py-4">
              <p class="m-0">38 Fallingbrook Rd</p>
              <p class="m-0">Toronto</p>
              <p class="m-0">Ontario</p>
              <p class="m-0">M1N 2T4</p>
            </div>
            <div class="footer_col_content">
              <p class="m-0">+ 44(0)1273007280</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="container-fluid py-4 px-3">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div
            class="download_brochure_section d-flex align-items-center py-3"
          >
            <div class="icon_button">
              <button type="button p-0" class="btn arrow_btn btn-info">
                <img src="/Images/Fill-1.png" alt="" />
              </button>
            </div>
            <p class="m-0 px-1">Download our Brochure</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div
            class="footer_images_section d-flex flex-wrap justify-content-center py-3"
          >
            <img src="/Images/sedex-logo.jpg" alt="" />
            <img src="/Images/mib-logo.jpg" alt="" />
            <img src="/Images/bp-logo.jpg" alt="" />
            <img src="/Images/ul-logo-1.jpg" alt="" />
            <img src="/Images/achilles-logo.jpg" alt="" />
            <img src="/Images/safe-logo.jpg" alt="" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="design_by_section d-flex justify-content-end py-3">
            <p class="m-0">Designed by Catherine </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    
      <!--footer-->
</body>

</html>