<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/scss/styles.scss" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <title>Lighting Solutions</title>
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</head>

<body>
  <div class="container-fluid li-main">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">Spanlite</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" fill="blue"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="./ls.html">Lighting Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/components/projects/projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/components/Services/Services.html">Services</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/components/resources/resources.html">Resources</a>
            </li>
          </ul>
          <div class="custom-select d-flex justify-content-between align-items-center" style="width: 200px">
            <select class="py-2">
              <option value="0">Languages</option>
              <option value="1">English</option>
              <option value="2">Urdu</option>
              <option value="3">Arabic</option>
              <option value="4">Chinese</option>
            </select>
            <i class="bi bi-search text-white px-2"></i>
          </div>
        </div>
      </div>
    </nav>

    <!--Banner Section-->

    <div class="row">
      <div class="col-lg-6 ">
        <div class="swiper product_slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="\Images\backlit-reception-desk-care-spanlite-4.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="\Images\backlit-glass-walls-hatton-spanlite-7.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="\Images\backlit-reception-desk-care-spanlite-4.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <!--2nd Section -->
      <div class="col-lg-6 d-flex justify-content-end align-items-end" style="background-color: #37515f">
        <div class="lightninig-solution-banner-content-section">
          <p class="m-0">Backlit Bars & Reception</p>
          <p>Desks</p>
        </div>
      </div>
    </div>

    <!--second part-->
    <div class="lightning-solution-second-section-2 d-flex flex-wrap justify-content-between align-items-center">
      <div class="lightning-solution-second-section-2-full-width">
        <div class="sec-content-2 flex-1 flex-fill">
          <p class="text-white-3">
            Sleek translucent partitioning, stylish dynamic glass walls and
            stand <br />Our bespoke solutions create iconic features that
            showcase.
          </p>
        </div>
        <div class="sec_arrow_content flex-fill flex-1 justify-content-end d-flex">
          <div class="d-flex align-items-start">
            <div class="d-flex flex-column align-items-end">
              <p class="m-0 pe-3 text-white-3">Talk to us about</p>
              <p class="m-0 pe-3 text-white-3">your project</p>
            </div>
            <div class="icon_button">
              <button type="button p-0" class="btn arrow_btn btn-info">
                <img src="/Images/Fill-1.png" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--second part-end-->
    <!--Hatton Garden Section second Section-->

    <section id="lightning-solution-hatton-section">
      <div class="lightning-solution-hatton-image-sec">
        <img src="/Images/17.jpg" alt="" />
      </div>
      <div class="lightning-solution-hatton-content-section">
        <div class="d-flex">
          <p>
            Spanlight's refined system provides a simplesolution for all edge
            lit glass applications Innovation aluminiumm channel with integral
            LEDS and glass locator offers easy Installation and a clean finish
            Our system allows light to pass uniformly through glass,
            illuminating and ceramic ink or etched design on its surface ,
            offering bright , even panels of colour or highlighted graphics.
          </p>
        </div>
      </div>
    </section>
    <!--Hatton Garden Section-->

    <section id="lightning-solution-hatton-section">
      <div class="lightning-solution-hatton-content-section1">
        <div class="d-flex">
          <p>
            Spanlight's refined system provides a simplesolution for all edge
            lit glass applications Innovation aluminiumm channel with integral
            LEDS and glass locator offers easy Installation and a clean finish
            Our system allows light to pass uniformly through glass,
            illuminating and ceramic ink or etched design on its surface ,
            offering bright , even panels of colour or highlighted graphics.
          </p>
        </div>
      </div>
      <div class="hatton_image_sec1 px-8">
        <img src="/Images/18.jpg" alt="" />
      </div>
    </section>

    <!--Features Third Section (Classes Products)-->
    <div class="container-fluid" id="lightning-solution-product-section_background_color">
      <div class="row">
        <div class="col-lg-4 p-0">
          <div class="lightning-solution-product-heading">
            <h2>Features</h2>
          </div>
        </div>
        <div class="col-lg-4 d-flex flex-column justify-content-between">
          <div class="lightning-solution-product-content">
            <p>
              A simple system, that's straightforward to install by
              contractors, or hire our installation team to assist with your
              build.
            </p>
            <p>
              A simple system, that's straightforward to install by
              contractors, or hire our installation team to assist with your
              build.
            </p>
            <p>
              A simple system, that's straightforward to install by
              contractors, or hire our installation team to assist with your
              build.
            </p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="lightning-solution-product-content">
            <p>
              A simple system, that's straightforward to install by
              contractors, or hire our installation team to assist with your
              build.
            </p>
            <p>
              A simple system, that's straightforward to install by
              contractors, or hire our installation team to assist with your
              build.
            </p>
            <p>
              A simple system, that's straightforward to install by
              contractors, or hire our installation team to assist with your
              build.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--Image Gallery Cards-->
    <div class="container-fluid ls-gallery-card">
      <div class="row ">
        <div class="col-lg-3 col-md-6 col-sm-12 p-2">
          <a href=#>
            <div class="ls-image-card">
              <img src="/Images/21.jpg" alt="Avatar" class="image">
              <div class="overlay">My Name is John</div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-2">
          <a href=#>
            <div class="ls-image-card">
              <img src="/Images/20.jpg" alt="Avatar" class="image">
              <div class="overlay">My Name is John</div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-2">
          <a href=#>
            <div class="ls-image-card">
              <img src="/Images/19.jpg" alt="Avatar" class="image">
              <div class="overlay">My Name is John</div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-2">
          <a href=#>
            <div class="ls-image-card">
              <img src="/Images/181.jpg" alt="Avatar" class="image">
              <div class="overlay">My Name is John</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!--Image Gallery Card End-->
    <!--Application Section-->
    <div class="container-fluid application_sec">
      <div class="row px-3">
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">
          <div class="ls-you-might-like-sec">
            <div class="ls-appliaction-head d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <h3 class="m-0">You Might Like</h3>
            </div>
            <div class="inner_spacer"></div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#"> Illuminated Whole Feature Walls </a>
            </div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#">Illuminated Whole Feature Walls</a>
            </div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#">Illuminated Whole Feature Walls</a>
            </div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#">Illuminated Whole Feature Walls</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">
          <div class="you_might_like_sec center">
            <div class="ls-appliaction-head d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <h3 class="m-0">You Might Like</h3>
            </div>
            <div class="inner_spacer"></div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#"> Illuminated Whole Feature Walls </a>
            </div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#">Illuminated Whole Feature Walls</a>
            </div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#">Illuminated Whole Feature Walls</a>
            </div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#">Illuminated Whole Feature Walls</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">
          <div class="you_might_like_sec ">
            <div class="ls-appliaction-head d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <h3 class="m-0">You Might Like</h3>
            </div>
            <div class="inner_spacer"></div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#"> Illuminated Whole Feature Walls </a>
            </div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#">Illuminated Whole Feature Walls</a>
            </div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#">Illuminated Whole Feature Walls</a>
            </div>
            <div class="ls-appliaction-content d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
              </svg>
              <a href="#">Illuminated Whole Feature Walls</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="main_footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3">
            <div class="footer_col_title">
              <h2 class="text-white">Spanlite</h2>
            </div>
            <div class="footer_col_content">
              <p class="m-0">© 2022</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3">
            <div class="footer_col_title">
              <h2>Quick Links</h2>
            </div>
            <div class="footer_pages_link d-flex">
              <div class="footer_section_pages">
                <p class="m-0 py-1"><a href="#">Home</a></p>
                <p class="m-0 py-1"><a href="/components/Contact Us/contact.html">Contact Us</a></p>
                <p class="m-0 py-1"><a href="/components/Digitallib/digitallib.html">Digital Image Library </a></p>
                <p class="m-0 py-1"><a href="#">Stone Slab Library</a></p>
              </div>
              <div class="footer_section_pages">
                <p class="m-0 py-1"><a href="#">Help</a></p>
                <p class="m-0 py-1"><a href="#">Privacy Policy</a></p>
                <p class="m-0 py-1"><a href="#">Website T&Cs </a></p>
                <p class="m-0 py-1"><a href="#">Spanlite Bussines T&Cs</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3">
            <div class="footer_col_title">
              <h2>Newsletter</h2>
            </div>

            <div class="footer_col_content">
              <p>
                Signup to receive Monthly Emails with informative guides
                up-to-date industry news and news on our latest products
              </p>
            </div>

            <div class="input-group">
              <input type="email" class="form-control" placeholder="Your email address" aria-label="Username"
                aria-describedby="basic-addon1" />
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row p-4">
          <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
            style="border-top: 3px solid powderblue">
            <div class="footer_col_title">
              <h2 class="text-white">Contact Us</h2>
            </div>
            <div class="footer_col_content">
              <p class="m-0">
                We’d love to hear about your upcoming projects
              </p>
            </div>
            <div class="footer_col_icons">
              <i class="bi bi-facebook px-2 text-white"></i>
              <i class="bi bi-instagram px-2 text-white"></i>
              <i class="bi bi-twitter px-2 text-white"></i>
              <i class="bi bi-linkedin px-2 text-white"></i>
            </div>
            <div class="footer_col_content">
              <p class="m-0">info@spanlite.com</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
            style="border-top: 3px solid powderblue">
            <div class="footer_col_title">
              <h2>Head Office: UK, USA & Worldwide</h2>
            </div>
            <div class="footer_col_content py-4">
              <p class="m-0">Rear of 10, Colebrook Rd</p>
              <p class="m-0">Southwick, Brighton</p>
              <p class="m-0">West Sussex</p>
              <p class="m-0">BN42 4AL, UK</p>
            </div>
            <div class="footer_col_content">
              <p class="m-0">+ 44(0)1273007280</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
            style="border-top: 3px solid powderblue">
            <div class="footer_col_title">
              <h2>Canadian Division</h2>
            </div>

            <div class="footer_col_content py-4">
              <p class="m-0">38 Fallingbrook Rd</p>
              <p class="m-0">Toronto</p>
              <p class="m-0">Ontario</p>
              <p class="m-0">M1N 2T4</p>
            </div>
            <div class="footer_col_content">
              <p class="m-0">+ 44(0)1273007280</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="container-fluid py-4 px-3">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="download_brochure_section d-flex align-items-center py-3">
            <div class="icon_button">
              <button type="button p-0" class="btn arrow_btn btn-info">
                <img src="/Images/Fill-1.png" alt="" />
              </button>
            </div>
            <p class="m-0 px-1">Download our Brochure</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer_images_section d-flex flex-wrap justify-content-center py-3">
            <img src="/Images/sedex-logo.jpg" alt="" />
            <img src="/Images/mib-logo.jpg" alt="" />
            <img src="/Images/bp-logo.jpg" alt="" />
            <img src="/Images/ul-logo-1.jpg" alt="" />
            <img src="/Images/achilles-logo.jpg" alt="" />
            <img src="/Images/safe-logo.jpg" alt="" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="design_by_section d-flex justify-content-end py-3">
            <p class="m-0">Designed by Catherine</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="../../js/ls.js"></script>

</body>

</html>