<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/styles.scss">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row g-0" id="gallery">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/index.html">Spanlite</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon" fill="blue"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page"
                                        href="/components/ligtingsol/ls.html">Lighting
                                        Solutions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/components/projects/projects.html">Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/components/Services/Services.html">Services</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="../products/product.html">Products</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/components/resources/resources.html">Resources</a>
                                </li>
                            </ul>
                            <div class="custom-select d-flex justify-content-between align-items-center"
                                style="width:200px;">
                                <select class="py-2">
                                    <option value="0">Languages</option>
                                    <option value="1">English</option>
                                    <option value="2">Urdu</option>
                                    <option value="3">Arabic</option>
                                    <option value="4">Chinese</option>
                                </select>
                                <i class="bi bi-search text-white px-2"></i>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!--Hero start-->
        <div class="container py-5">
            <div class="row px-2">
                <div class="col-lg-12">
                    <h2>LED Ceilings</h2>
                </div>
                <div class="col-lg-12">
                    <div class="led-ceiling-banner-image">
                        <img src="/Images/ceiling-lighting-solutions-feature-prr08muda52un6dpk0majwvd243lfa31w5cnu6v2h0.jpeg"
                            alt="">
                    </div>

                </div>
                <div class="col-lg-12 my-4">
                    <h4 class=" led-ceiling-main-heading">Our experts provide 3 of the best solutions for
                        illuminated Ceilings.</h4>
                </div>
                <div class="col-lg-6 pe-3">
                    <p class="primary-text-widget">There are several options when it comes to <strong>LED ceilings</strong> and if
                        you’ve got a <strong>large
                            ceiling area</strong> to cover with an <strong>expanse of even light,</strong>
                        it can be hard to know what the best solution is.</p>
                </div>
                <div class="col-lg-6">
                    <p class="primary-text-widget">We’ve put together an objective comparison of the three main contenders
                        <strong>>– backlit acrylic panels, backlit fabric panels and backlit stretch ceilings –</strong> 
                        highlighting their design appeal, merits and limitations.</p>
                </div>
                <div class="col-lg-12 mt-3">
                    <div class="sub-heading">
                        <h6>This article highlights the key similarities and differences between each product.</h6>
                        <h6 class="mt-4"><span>For a more detailed comparison,</span> <a href="#">download our
                                side-by-side specification comparison table.</a></h6>
                    </div>
                </div>
            </div>
            <div class="row mt-5 led-ceiling-second-section">
                <div class="col-lg-4 px-2 mt-2">
                    <div class="led-ceiling-lightfield-1 py-3">
                        <h6 class="ps-3 py-1 text-white">LIGHTFIELD</h6>
                        <h6 class="ps-3 py-1 text-white">LED Backlit Acrylic Panels</h6>
                    </div>
                    <div class="led-ceiling-image my-3">
                        <img
                            src="/Images/light-box-for-ceiling-marks-spencer-spanlite-1a.jpg" alt="">
                    </div>
                    <div class="led-ceiling-lightfield-1 py-3">
                        <ul class="mb-0">
                            <li class="text-white">Ultra slim</li>
                            <li class="text-white">Easy to install and maintain</li>
                            <li class="text-white">Limited maximum size</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 px-2 mt-2">
                    <div class="led-ceiling-lightfield-2 py-3">
                        <h6 class="ps-3 py-1 text-white">RAFT</h6>
                        <h6 class="ps-3 py-1 text-white">LED Backlit Acrylic Panels</h6>
                    </div>
                    <div class="led-ceiling-image my-3">
                        <img 
                            src="/Images/light-box-for-ceiling-marks-spencer-spanlite-1a.jpg" alt="">
                    </div>
                    <div class="led-ceiling-lightfield-2 py-3">
                        <ul class="mb-0">
                            <li class="text-white">Ultra slim</li>
                            <li class="text-white">Easy to install and maintain</li>
                            <li class="text-white">Limited maximum size</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 px-2 mt-2">
                    <div class="led-ceiling-lightfield-3 py-3">
                        <h6 class="ps-3 py-1  text-white">LIGHTFIELD</h6>
                        <h6 class="ps-3 py-1 text-white">LED Backlit Acrylic Panels</h6>
                    </div>
                    <div class="led-ceiling-image my-3">
                        <img style="max-width: 100%; height: auto;"
                            src="/Images/light-box-for-ceiling-marks-spencer-spanlite-1a.jpg" alt="">
                    </div>
                    <div class="led-ceiling-lightfield-3 py-3">
                        <ul class="mb-0">
                            <li class="text-white">Ultra slim</li>
                            <li class="text-white">Easy to install and maintain</li>
                            <li class="text-white">Limited maximum size</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row ceiling-list-section mt-5 px-2">
                <div class="col-lg-12">
                    <h6 class="pb-4">Diving a bit deeper into each product, let’s first look at what they all have in
                        common:</h6>
                    <ul>
                        <li class="pb-1">Made to measure, bespoke to your dimensions</li>
                        <li class="py-1">Even illumination and perfectly diffused light with no hotspots,striping, pin pricks of
                            visible LEDs or shadowing</li>
                        <li class="py-1">Typical Colour Rendering Index of 85 CRI as standard, with90 CRI+ also available</li>
                        <li class="py-1">Available in a variety of temperatures and colours:White 2700K – 6500K • Tuneable White
                            2200K – 6500K • RGBW</li>
                        <li class="py-1">Reinforced collared cut-outs can be added to allow for ceilingfixtures & existing structures
                            such as wayfinding devices,sprinklers & smoke detectors</li>
                        <li class="py-1"><strong>Clean installation</strong></li>
                        <li class="py-1">Choice of 1-10 dimmable, DALI, TRIAC & DMX drivers andcompatible w/ standard controllers –
                            Lutron, Creston, Control4 etc</li>
                        <li class="py-1" >Emergency lighting functionality can be integrated into thelighting panels</li>
                        <li class="py-1">Each option is also available for wall mounting, meaning you cantie wall and ceiling
                            lighting features together</li>
                        <li class="pb-1">Guaranteed to run for 50,000 hours</li>
                    </ul>
                    <h6 class="pt-3">Now that you’ve ticked these things off your list, it’s time to look at what makes
                        each solution for LED ceilings different.</h6>
                </div>
            </div>
            <div class="row lightfield-row mt-5" id="light-field-1">
                <div class="col-lg-12 ps-4 pt-4">
                    <h6 class="text-white"><strong>Lightfield</strong> </h6>
                    <h6 class="text-white"><strong>LED Backlit Acrylic Panels</strong></h6>
                </div>
                <div class="col-lg-6 p-4">
                    <img 
                        src="/Images/light-box-for-ceiling-marks-spencer-spanlite-1a.jpg" alt="">
                </div>
                <div class="col-lg-6 p-4">
                    <img 
                        src="/Images/light-box-for-ceiling-marks-spencer-spanlite-1a.jpg" alt="">
                </div>
                <div class="col-lg-12 px-4 pb-5 pt-4">
                    <h6 class="text-white" style="font-size: 14pt;"><strong>An ultra-slim, framed LED Lighting panel
                            with diffused, even lighting to an acrylic front face</strong></h6>
                </div>
                <div class="col-lg-12 px-4">
                    <div class="ceiling-measurment-section  bg-white py-4">
                        <ul class="mb-0">
                            <li class="pb-1">Popular applications: retail and commercial spaces</li>
                            <li class="py-1">Largest recommended panel size: 1.5m x 2.4m</li>
                            <li class="py-1">Product depth: 25mm</li>
                            <li class="py-1">Weight: 14kg / sqm</li>
                            <li class="py-1">Front face: 3mm opal acrylic – optional finishes available</li>
                            <li class="pt-1">Frame: 16.7mm anodised aluminium – optional finishes available</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 p-4">
                    <h6 class="text-white pb-4 mb-0">Advantages</h6>
                    <div class="ceiling-measurment-second-section bg-white py-4">
                        <ul>
                            <li class="pb-1">Popular applications: retail and commercial spaces</li>
                            <li class="py-1" >Largest recommended panel size: 1.5m x 2.4m</li>
                            <li class="py-1">Product depth: 25mm</li>
                            <li class="py-1">Weight: 14kg / sqm</li>
                            <li class="py-1">Front face: 3mm opal acrylic – optional finishes available</li>
                            <li class="pt-1">Frame: 16.7mm anodised aluminium – optional finishes available</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 p-4">
                    <h6 class="text-white pb-4 mb-0">Considration</h6>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="considration-list-items bg-white py-2">
                                <ul class="mb-0">
                                    <li>Popular applications: retail and commercial spaces</li>
                                    <li class="py-1">Largest recommended panel size: 1.5m x 2.4m</li>
                                    <li>Product depth: 25mm</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="ceilings-considration-links bg-white px-3">
                                <h6 class="text-primary pb-3">Links and Download</h6>
                                <div class="considration-links">
                                    <div class="pb-1"><a href="#">Download Lightfield Data Sheet</a></div>
                                    <div class="py-1"><a href="#" >Download Lightfield Data Sheet</a></div>
                                    <div class="pb-1"><a href="#">Download Lightfield Data Sheet</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row lightfield-row mt-5" id="light-field-2">
                <div class="col-lg-12 ps-4 pt-4">
                    <h6 class="text-white"><strong>Lightfield</strong> </h6>
                    <h6 class="text-white"><strong>LED Backlit Acrylic Panels</strong></h6>
                </div>
                <div class="col-lg-6 p-4">
                    <img 
                        src="/Images/light-box-for-ceiling-marks-spencer-spanlite-1a.jpg" alt="">
                </div>
                <div class="col-lg-6 p-4">
                    <img 
                        src="/Images/light-box-for-ceiling-marks-spencer-spanlite-1a.jpg" alt="">
                </div>
                <div class="col-lg-12 px-4 pb-5 pt-4">
                    <h6 class="text-white" style="font-size: 14pt;"><strong>An ultra-slim, framed LED Lighting panel
                            with diffused, even lighting to an acrylic front face</strong></h6>
                </div>
                <div class="col-lg-12 px-4">
                    <div class="ceiling-measurment-section  bg-white py-4">
                        <ul class="mb-0">
                            <li class="pb-1">Popular applications: retail and commercial spaces</li>
                            <li class="py-1">Largest recommended panel size: 1.5m x 2.4m</li>
                            <li class="py-1">Product depth: 25mm</li>
                            <li class="py-1">Weight: 14kg / sqm</li>
                            <li class="py-1">Front face: 3mm opal acrylic – optional finishes available</li>
                            <li class="pt-1">Frame: 16.7mm anodised aluminium – optional finishes available</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 p-4">
                    <h6 class="text-white pb-4 mb-0">Advantages</h6>
                    <div class="ceiling-measurment-second-section bg-white py-4">
                        <ul>
                            <li class="pb-1">Popular applications: retail and commercial spaces</li>
                            <li class="py-1" >Largest recommended panel size: 1.5m x 2.4m</li>
                            <li class="py-1">Product depth: 25mm</li>
                            <li class="py-1">Weight: 14kg / sqm</li>
                            <li class="py-1">Front face: 3mm opal acrylic – optional finishes available</li>
                            <li class="pt-1">Frame: 16.7mm anodised aluminium – optional finishes available</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 p-4">
                    <h6 class="text-white pb-4 mb-0">Considration</h6>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="considration-list-items bg-white py-2">
                                <ul class="mb-0">
                                    <li>Popular applications: retail and commercial spaces</li>
                                    <li class="py-1">Largest recommended panel size: 1.5m x 2.4m</li>
                                    <li>Product depth: 25mm</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="ceilings-considration-links bg-white px-3">
                                <h6 class="text-primary pb-3">Links and Download</h6>
                                <div class="considration-links">
                                    <div class="pb-1"><a href="#">Download Lightfield Data Sheet</a></div>
                                    <div class="py-1"><a href="#" >Download Lightfield Data Sheet</a></div>
                                    <div class="pb-1"><a href="#">Download Lightfield Data Sheet</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row lightfield-row mt-5" id="light-field-3">
                <div class="col-lg-12 ps-4 pt-4">
                    <h6 class="text-white"><strong>RAFT</strong> </h6>
                    <h6 class="text-white"><strong>LED Backlit Acrylic Panels</strong></h6>
                </div>
                <div class="col-lg-6 p-4">
                    <img 
                        src="/Images/light-box-for-ceiling-marks-spencer-spanlite-1a.jpg" alt="">
                </div>
                <div class="col-lg-6 p-4">
                    <img 
                        src="/Images/light-box-for-ceiling-marks-spencer-spanlite-1a.jpg" alt="">
                </div>
                <div class="col-lg-12 px-4 pb-5 pt-4">
                    <h6 class="text-white" style="font-size: 14pt;"><strong>A robust, framed LED Lighting panel with diffused, even lighting to a stretched fabric front face</strong></h6>
                </div>
                <div class="col-lg-12 px-4">
                    <div class="ceiling-measurment-section  bg-white py-4">
                        <ul class="mb-0">
                            <li class="pb-1">Popular applications: retail and commercial spaces</li>
                            <li class="py-1">Largest recommended panel size: 1.5m x 2.4m</li>
                            <li class="py-1">Product depth: 25mm</li>
                            <li class="py-1">Weight: 14kg / sqm</li>
                            <li class="py-1">Front face: 3mm opal acrylic – optional finishes available</li>
                            <li class="pt-1">Frame: 16.7mm anodised aluminium – optional finishes available</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 p-4">
                    <h6 class="text-white pb-4 mb-0">Advantages</h6>
                    <div class="ceiling-measurment-second-section bg-white py-4">
                        <ul>
                            <li class="pb-1">Popular applications: retail and commercial spaces</li>
                            <li class="py-1" >Largest recommended panel size: 1.5m x 2.4m</li>
                            <li class="py-1">Product depth: 25mm</li>
                            <li class="py-1">Weight: 14kg / sqm</li>
                            <li class="py-1">Front face: 3mm opal acrylic – optional finishes available</li>
                            <li class="pt-1">Frame: 16.7mm anodised aluminium – optional finishes available</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 p-4">
                    <h6 class="text-white pb-4 mb-0">Considration</h6>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="considration-list-items bg-white py-2">
                                <ul class="mb-0">
                                    <li>Popular applications: retail and commercial spaces</li>
                                    <li class="py-1">Largest recommended panel size: 1.5m x 2.4m</li>
                                    <li>Product depth: 25mm</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="ceilings-considration-links bg-white px-3">
                                <h6 class="text-primary pb-3">Links and Download</h6>
                                <div class="considration-links">
                                    <div class="pb-1"><a href="#">Download Lightfield Data Sheet</a></div>
                                    <div class="py-1"><a href="#" >Download Lightfield Data Sheet</a></div>
                                    <div class="pb-1"><a href="#">Download Lightfield Data Sheet</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Hero Section end-->
    <!--footer-->
    <footer class="main_footer">
        <div class="container-fluid">
            <div class="row p-4">
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3">
                    <div class="footer_col_title">
                        <h2 class="text-white">Spanlite</h2>
                    </div>
                    <div class="footer_col_content">
                        <p class="m-0">© 2022</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3">
                    <div class="footer_col_title">
                        <h2>Quick Links</h2>
                    </div>
                    <div class="footer_pages_link d-flex">
                        <div class="footer_section_pages">
                            <p class="m-0 py-1"><a href="/index.html">Home</a></p>
                            <p class="m-0 py-1"><a href="/components/Contact Us/contact.html">Contact Us</a></p>
                            <p class="m-0 py-1"><a href="/components/Digitallib/digitallib.html">Digital Image
                                    Library </a></p>
                            <p class="m-0 py-1"><a href="../Stoneslab/Stone.html">Stone Slab Library</a></p>
                        </div>
                        <div class="footer_section_pages">
                            <p class="m-0 py-1"><a href="../Help/help.html">Help</a></p>
                            <p class="m-0 py-1"><a href="../Privacy/privacy.html">Privacy Policy</a></p>
                            <p class="m-0 py-1"><a href="../TermsCondition/terms.html">Website T&Cs </a></p>
                            <p class="m-0 py-1"><a href="../Spanlightbuisness/spanlightbuisness.html">Spanlite
                                    Bussines T&Cs</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3">
                    <div class="footer_col_title">
                        <h2>Newsletter</h2>
                    </div>

                    <div class="footer_col_content">
                        <p>
                            Signup to receive Monthly Emails with informative guides
                            up-to-date industry news and news on our latest products
                        </p>
                    </div>

                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Your email address" aria-label="Username"
                            aria-describedby="basic-addon1" />
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
                    style="border-top: 3px solid #0693e3;">
                    <div class="footer_col_title">
                        <h2 class="text-white">Contact Us</h2>
                    </div>
                    <div class="footer_col_content">
                        <p class="m-0">
                            We’d love to hear about your upcoming projects
                        </p>
                    </div>
                    <div class="footer_col_icons">
                        <i class="bi bi-facebook px-2 text-white"></i>
                        <i class="bi bi-instagram px-2 text-white"></i>
                        <i class="bi bi-twitter px-2 text-white"></i>
                        <i class="bi bi-linkedin px-2 text-white"></i>
                    </div>
                    <div class="footer_col_content">
                        <p class="m-0">info@spanlite.com</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
                    style="border-top: 3px solid #8ed1fc;">
                    <div class="footer_col_title">
                        <h2>Head Office: UK, USA & Worldwide</h2>
                    </div>
                    <div class="footer_col_content py-4">
                        <p class="m-0">Rear of 10, Colebrook Rd</p>
                        <p class="m-0">Southwick, Brighton</p>
                        <p class="m-0">West Sussex</p>
                        <p class="m-0">BN42 4AL, UK</p>
                    </div>
                    <div class="footer_col_content">
                        <p class="m-0">+ 44(0)1273007280</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
                    style="border-top: 3px solid #00d084;">
                    <div class="footer_col_title">
                        <h2>Canadian Division</h2>
                    </div>

                    <div class="footer_col_content py-4">
                        <p class="m-0">38 Fallingbrook Rd</p>
                        <p class="m-0">Toronto</p>
                        <p class="m-0">Ontario</p>
                        <p class="m-0">M1N 2T4</p>
                    </div>
                    <div class="footer_col_content">
                        <p class="m-0">+ 44(0)1273007280</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="container-fluid py-4 px-3">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="download_brochure_section d-flex align-items-center py-3">
                    <div class="icon_button">
                        <button type="button p-0" class="btn arrow_btn btn-info">
                            <img src="/Images/Fill-1.png" alt="" />
                        </button>
                    </div>
                    <p class="m-0 px-1">Download our Brochure</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer_images_section d-flex flex-wrap justify-content-center py-3">
                    <img src="/Images/sedex-logo.jpg" alt="" />
                    <img src="/Images/mib-logo.jpg" alt="" />
                    <img src="/Images/bp-logo.jpg" alt="" />
                    <img src="/Images/ul-logo-1.jpg" alt="" />
                    <img src="/Images/achilles-logo.jpg" alt="" />
                    <img src="/Images/safe-logo.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="design_by_section d-flex justify-content-end py-3">
                    <p class="m-0">Designed by Catherine </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>