<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../scss/styles.scss" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <title>Resources</title>
</head>

<body>
    <div class="container-fluid main">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index.html">Spanlite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" fill="blue"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/components/ligtingsol/ls.html">Lighting
                                Solutions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/components/projects/projects.html">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/components/Services/Services.html">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../products/product.html">Products</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./resources.html">Resources</a>
                        </li>
                    </ul>
                    <div class="custom-select d-flex justify-content-between align-items-center" style="width: 200px">
                        <select class="py-2">
                            <option value="0">Languages</option>
                            <option value="1">English</option>
                            <option value="2">Urdu</option>
                            <option value="3">Arabic</option>
                            <option value="4">Chinese</option>
                        </select>
                        <i class="bi bi-search text-white px-2"></i>
                    </div>
                </div>
            </div>
        </nav>
        <!--NavBar End-->
        <!--Main Section-->
        <div class="row p-4 resource-main-section">
            <div class="col-lg-6 col-md-12">
                <div class="resource-main-content">
                    <p>
                        A collection of resources to help guide your decisions, inform
                        your clients and educate your contractors.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 d-flex justify-content-end align-items-end">
                <button type="button" class="bg-info text-white rounded-circle btn-circle d-block block-left">
                    Need help?
                </button>
            </div>
        </div>
        <!--Main Section End-->
        <!--Article Heading-->
        <div class="row px-4 py-5">
            <div class="col-lg-12">
                <div class="resources-article-heading">
                    <p class="m-0">Articles</p>
                </div>
            </div>
        </div>
        <!--Article Heading End-->

        <!--End Of Gallery Section-->
        <div class="container-fluid pb-5">
            <div class="row resource-gallery-section justify-content-center">
                <div class="col-lg-4 col-md-6 px-3 resource-border-column">
                    <a href="/components/LED-Ceilings/led-ceilings.html">   
                        <img src="../../Images/ceiling-lighting-solutions-feature-prr08muda52un6dpk0majwvd243lfa31w5cnu6v2h0.jpeg"
                            alt="Card image cap" />
                        <div class="reasource-gallery-link d-flex">
                            <div class="py-2 d-flex align-items-center">
                                <span class="pe-2 "><img src="../../Images/image.png" alt=""></span><h5 class="mb-0">LED Ceilings</h5></div>
                        </div> 
                </a>
                </div>
                <div class="col-lg-4 col-md-6 px-3 resource-border-column">
                    <a href="/components/LED-Ceilings/led-ceilings.html">
                            <img src="../../Images/ceiling-lighting-solutions-feature-prr08muda52un6dpk0majwvd243lfa31w5cnu6v2h0.jpeg"
                                alt="Card image cap" />
                            <div class="reasource-gallery-link d-flex">
                                <div class="py-2 d-flex align-items-center">
                                    <span class="pe-2 "><img src="../../Images/image.png" alt=""></span><h5 class="mb-0">LED Ceilings</h5></div>
                            </div>    
                    </a>
                    
                </div>
                <div class="col-lg-4 col-md-6 px-3 resource-border-column">
                    <a href="/components/LED-Ceilings/led-ceilings.html">
                        <img src="../../Images/ceiling-lighting-solutions-feature-prr08muda52un6dpk0majwvd243lfa31w5cnu6v2h0.jpeg"
                            alt="Card image cap" />
                        <div class="reasource-gallery-link d-flex">
                            <div class="py-2 d-flex align-items-center">
                                <span class="pe-2 "><img src="../../Images/image.png" alt=""></span><h5 class="mb-0">LED Ceilings</h5></div>
                        </div>  
                </a>
                </div>
            </div>
        </div>
        <!--Resources Gallery Section End-->
        <!--Resources FAQ's-->
        <div class="row py-5 px-4 resource-faq-section">
            <div class="col-lg-3">
                <div class="resources-article-heading">
                    <p class="m-0">FAQ's</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <i class="bi bi-plus"></i>
                            Sales & Client Services</a>
                        </h4>
                      </div>
                      <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">Our friendly sales and client services team will oversee your project through
                          every stage. From your initial enquiry, through design development,
                          production and installation, they are always on hand to help you and will guide y
                          our project to completion. Their proactive stance ensures that each phase is closely monitored and
                          that documents, designs, samples and products are delivered to schedule.</div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            <i class="bi bi-plus"></i>
                            Technical Team</a>
                        </h4>
                      </div>
                      <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">With years of experience in the industry,
                          our technical team are masters at identifying the best systems and bespoke solutions on any project.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            <i class="bi bi-plus"></i>
                            Studio & Artwork</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">Our Design Studio
                          is equipped to handle all your graphic design needs.
                          <br /><br />
                          Our skilled designers are experts
                          at handling large format imagery and understand how designs can be applied to illuminated surface
                          materials.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            <i class="bi bi-plus"></i>
                            Manufacturing</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">Once all details have been agreed and signed off, your project moves into
                          production with Spanlite’s Manufacturing team.
                          <br /><br />
                          Everything we make is made-to-measure. Our engineers fabricate each element to a precise set of
                          criteria to match your requirements.
                          <br /><br />
                          On more unusual projects, samples & mock-ups will be manufactured for approval, validating design
                          decisions and ensuring client satisfaction.
      
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            <i class="bi bi-plus"></i>
                            Installation Team</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <!--Resources FAQ's End-->
        <!--Resource Application start-->
        <div class="container-fluid application_sec px-0">
            <div class="row px-0 ">
              <div class="col-lg-4 col-md-6 col-sm-12 my-2 ps-4 d-flex flex-column align-content-between justify-content-between">
                
                  <div class="ls-appliaction-head d-flex align-items-center ">
                    <div class="image">
                      <img src="../../Images/test.png" alt="">
                    </div>
                    <h3 class="m-0">You Might Like</h3>
                  </div>
                  
                  <div class="allLinks pt-5">
                    <div class="link_content d-flex pb-2">
                      <a href="#" class="d-flex align-itmes-center py-1">
                        <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                        <h3 class="mb-0 mt-1">Illuminated Whole Feature Walls</h3>
                      
                    </a>
                    </div>
                    <div class="link_content d-flex pb-2">
                      <a href="#" class="d-flex align-itmes-center py-1">
                        <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                        <h3 class="mb-0 mt-1">Luminous Feature Panels</h3>
                      
                    </a>
                    </div>
                    <div class="link_content d-flex pb-2">
                      <a href="#" class="d-flex align-itmes-center py-1">
                        <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                        <h3 class="mb-0 mt-1">Illuminated Shelving</h3>
                      
                    </a>
                    </div>
                    <div class="link_content d-flex pb-2">
                        <a href="#" class="d-flex align-itmes-center py-1">
                          <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                          <h3 class="mb-0 mt-1">Illuminated Shelving</h3>
                        
                      </a>
                      </div>
                      <div class="link_content d-flex pb-2">
                        <a href="#" class="d-flex align-itmes-center py-1">
                          <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                          <h3 class="mb-0 mt-1">Illuminated Shelving</h3>
                        
                      </a>
                      </div>
                  </div>
                
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 my-2 d-flex align-content-between flex-column ps-4 justify-content-between">
                
                  <div class="ls-appliaction-head d-flex align-items-center">
                    <div class="image">
                      <img src="../../Images/test.png" alt="">
                    </div>
                    <h3 class="m-0">Product Information</h3>
                  </div>
                  
                  <div class="allLinks pt-5">
                    <div class="link_content d-flex pb-2">
                      <a href="#" class="d-flex align-itmes-center py-1">
                        <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                        <h3 class="mb-0 mt-1">Stratum Image Glass</h3>
                      
                    </a>
                    </div>
                    <div class="link_content d-flex pb-2">
                      <a href="#" class="d-flex align-itmes-center py-1">
                        <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                        <h3 class="mb-0 mt-1">LED Light Sheet</h3>
                      
                    </a>
                    </div>
                    <div class="link_content d-flex pb-2">
                      <a href="#" class="d-flex align-itmes-center py-1">
                        <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                        <h3 class="mb-0 mt-1">Stratum Stone</h3>
                      
                    </a>
                    </div>
                   
                  </div>
                
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 my-2 ps-4 d-flex justify-content-between flex-column">
                
                  <div class="ls-appliaction-head d-flex align-items-center">
                    <div class="image">
                      <img src="../../Images/test.png" alt="">
                    </div>
                    <h3 class="m-0">Resources
                      
                    </h3>
                  </div>
                  <div class="allLinks pt-5">
                    <div class="link_content d-flex pb-2">
                      <a href="#" class="d-flex align-itmes-center py-1">
                        <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                        <h3 class="mb-0 mt-1">Reception Desk Datasheets</h3>
                      
                    </a>
                    </div>
                    <div class="link_content d-flex pb-2">
                      <a href="#" class="d-flex align-itmes-center py-1">
                        <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                        <h3 class="mb-0 mt-1">Stratum Image Glass Datasheet</h3>
                      
                    </a>
                    </div>
                    <div class="link_content d-flex pb-2">
                      <a href="#" class="d-flex align-itmes-center py-1">
                        <span><img src="../../Images/image.png" alt="" class="px-2 "></span>
                        <h3 class="mb-0 mt-1">LED Light Sheet Datesheet</h3>
                      
                    </a>
                    </div>
                    
                </div>
                
              </div> 
        </div>
         <!--Application Section end-->
         
        </div>
        <!--Resource Application End-->
        <!--Divider-->
        <div class="resources-divider p-0">
        <hr> 
        </div>
        <!--Resources Order Sample-->
        <div class="row py-5 order-sample-section ">
            <div class="col-lg-4 col-md-6 col-sm-12 ps-4 d-flex flex-column justify-content-between mt-2">
                <div class="ls-appliaction-head d-flex align-items-center">
                    <div class="image">
                      <img src="../../Images/test.png" alt="">
                    </div>
                    <h3 class="m-0">Order Sample</h3>
                  </div>
                <p class="pe-5 mt-3">We’re happy to provide samples to help you, your teams and your clients better
                    understand our
                    products.</p>
                <p class="pe-5">Get in touch with us today about your project and we’ll arrange for the right sample to
                    get to you.
                </p>
                <div class="resource-order-link">
                    <a href="#" class="d-flex align-items-center">
                        <span class="mb-1 pe-2"><img src="../../Images/image.png" alt=""></span>
                        Order
                    </a>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between ps-4 mt-2">
                <div class="ls-appliaction-head d-flex align-items-center">
                    <div class="image">
                      <img src="../../Images/test.png" alt="">
                    </div>
                    <h3 class="m-0">Image Gallery</h3>
                  </div>
                <div class="image_gallery_gallery_section d-flex ">
                    <div class="gallery_box resource-gallery-box ps-2">
                        <img src="../../Images/A-walk-in-the-woods-2x3-1-ply6k4qffn2l0yql2fivqr49tm7bl9cx06j2r76t1y.jpg"
                            alt="" style="max-width: 100%; height: auto;" />
                        <div class="link_content mt-2">
                            <a href="#" class="d-flex align-items-center"><span class="mb-1 pe-2"><img src="../../Images/image.png" alt=""></span>Digital Images</a>
                        </div>
                    </div>
                    <div class="gallery_box resource-gallery-box ps-2">
                        <img src="../../Images/A-walk-in-the-woods-2x3-1-ply6k4qffn2l0yql2fivqr49tm7bl9cx06j2r76t1y.jpg"
                            alt="" style="max-width: 100%; height: auto;" />
                        <div class="link_content mt-2">
                            <a href="#" class="d-flex align-items-center"><span class="mb-1 pe-2"><img src="../../Images/image.png" alt=""></span>Real Stone Slabs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between ps-4 mt-2">
                <div class="ls-appliaction-head d-flex align-items-center">
                    <div class="image">
                      <img src="../../Images/test.png" alt="">
                    </div>
                    <h3 class="m-0">Brochure</h3>
                  </div>
                <p class="pe-5">Spanlite are always developing new products and taking on more project challenges.
                    Download our brochure to see what we do & how we can help you.</p>

                <div class="resource-order-link">
                    <a href="#" class="d-flex align-items-center">
                        <span class="mb-1 pe-2"><img src="../../Images/image.png" alt=""></span>
                        Download
                    </a>
                </div>
            </div>
        </div>
        <!--Resources Order Sample End-->
        <!--Footer-->
        <footer class="main_footer">
                
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3 px-2">
                    <div class="footer_col_title">
                        <h2 class="text-white">Spanlite</h2>
                    </div>
                    <div class="footer_col_content">
                        <p class="m-0">© 2022</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3 px-2">
                    <div class="footer_col_title">
                        <h2>Quick Links</h2>
                    </div>
                    <div class="footer_pages_link d-flex">
                        <div class="footer_section_pages">
                            <p class="m-0 py-1"><a href="/index.html">Home</a></p>
                            <p class="m-0 py-1"><a href="../Contact Us/contact.html">Contact Us</a></p>
                            <p class="m-0 py-1"><a href="../Digitallib/digitallib.html">Digital Image
                                    Library </a></p>
                            <p class="m-0 py-1"><a href="../Stoneslab/Stone.html">Stone Slab Library</a></p>
                        </div>
                        <div class="footer_section_pages">
                            <p class="m-0 py-1"><a href="../Help/help.html">Help</a></p>
                            <p class="m-0 py-1"><a href="../Privacy/privacy.html">Privacy Policy</a></p>
                            <p class="m-0 py-1"><a href="../TermsCondition/terms.html">Website T&Cs </a></p>
                            <p class="m-0 py-1"><a href="../Spanlightbuisness/spanlightbuisness.html">Spanlite Bussines T&Cs</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3 px-2">
                    <div class="footer_col_title">
                        <h2>Newsletter</h2>
                    </div>
        
                    <div class="footer_col_content">
                        <p>
                            Signup to receive Monthly Emails with informative guides
                            up-to-date industry news and news on our latest products
                        </p>
                    </div>
        
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Your email address"
                            aria-label="Username" aria-describedby="basic-addon1" />
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3 px-2">
                    <div class="footer-border-1 mb-3" style="border-top: 3px solid #0693e3"></div>
                    <div class="footer_col_title mb-3">
                        <h2 class="text-white">Contact Us</h2>
                    </div>
                    <div class="footer_col_content mb-3">
                        <p class="m-0">
                            We’d love to hear about your upcoming projects
                        </p>
                    </div>
                    <div class="footer_col_icons mb-3">
                        <i class="bi bi-facebook px-2 text-white"></i>
                        <i class="bi bi-instagram px-2 text-white"></i>
                        <i class="bi bi-twitter px-2 text-white"></i>
                        <i class="bi bi-linkedin px-2 text-white"></i>
                    </div>
                    <div class="footer_col_content mb-3">
                        <p class="m-0">info@spanlite.com</p>
                    </div>
                </div>
                
                
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3 px-2">
        
                    <div class="footer-border-2 mb-3" style="border-top: 3px solid #8ed1fc"></div>
                    <div class="footer_col_title mb-3">
                        <h2>Head Office: UK, USA & Worldwide</h2>
                    </div>
                    <div class="footer_col_content mb-3">
                        <p class="m-0">Rear of 10, Colebrook Rd</p>
                        <p class="m-0">Southwick, Brighton</p>
                        <p class="m-0">West Sussex</p>
                        <p class="m-0">BN42 4AL, UK</p>
                    </div>
                    <div class="footer_col_content mb-3">
                        <p class="m-0">+ 44(0)1273007280</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3 px-2"
                    >
                    <div class="footer-border-3 mb-3" style="border-top: 3px solid #00d084"></div>
                    <div class="footer_col_title mb-3">
                        <h2>Canadian Division</h2>
                    </div>
        
                    <div class="footer_col_content mb-3">
                        <p class="m-0">38 Fallingbrook Rd</p>
                        <p class="m-0">Toronto</p>
                        <p class="m-0">Ontario</p>
                        <p class="m-0">M1N 2T4</p>
                    </div>
                    <div class="footer_col_content mb-3">
                        <p class="m-0">+ 44(0)1273007280</p>
                    </div>
                </div>
            </div>
        
        </footer>
        <div class="container-fluid py-4 px-3">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="download_brochure_section d-flex align-items-center py-3">
                        <div class="icon_button">
                            <button type="button p-0" class="btn arrow_btn btn-info">
                                <img src="/Images/Fill-1.png" alt="" />
                            </button>
                        </div>
                        <p class="m-0 px-1">Download our Brochure</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer_images_section d-flex flex-wrap justify-content-center py-3">
                        <img src="/Images/sedex-logo.jpg" alt="" />
                        <img src="/Images/mib-logo.jpg" alt="" />
                        <img src="/Images/bp-logo.jpg" alt="" />
                        <img src="/Images/ul-logo-1.jpg" alt="" />
                        <img src="/Images/achilles-logo.jpg" alt="" />
                        <img src="/Images/safe-logo.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="design_by_section d-flex justify-content-end py-3">
                        <p class="m-0">Designed by Catherine</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer End-->
    </div>
</body>

</html>