<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../scss/styles.scss" />
    <title>Resources</title>
</head>

<body>
    <div class="container-fluid main">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Spanlite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" fill="blue"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="components/ligtingsol/ls.html">Lighting
                                Solutions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/components/projects/projects.html">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Products</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Resources</a>
                        </li>
                    </ul>
                    <div class="custom-select d-flex justify-content-between align-items-center" style="width: 200px">
                        <select class="py-2">
                            <option value="0">Languages</option>
                            <option value="1">English</option>
                            <option value="2">Urdu</option>
                            <option value="3">Arabic</option>
                            <option value="4">Chinese</option>
                        </select>
                        <i class="bi bi-search text-white px-2"></i>
                    </div>
                </div>
            </div>
        </nav>
        <!--NavBar End-->
        <!--Main Section-->
        <div class="row p-4 resource-main-section">
            <div class="col-lg-6 col-md-12">
                <div class="resource-main-content">
                    <p>
                        A collection of resources to help guide your decisions, inform
                        your clients and educate your contractors.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-md-12 d-flex justify-content-end align-items-end">
                <button type="button" class="bg-info text-white rounded-circle btn-circle d-block block-left">
                    Need help?
                </button>
            </div>
        </div>
        <!--Main Section End-->
        <!--Article Heading-->
        <div class="row px-4 py-5">
            <div class="col-lg-12">
                <div class="resources-article-heading">
                    <p class="m-0">Articles</p>
                </div>
            </div>
        </div>
        <!--Article Heading End-->
        <!--Resources Gallery Section
        
        <div class="row  resource-gallery-section">
            <div class="col-lg-4 col-md-6 px-3 resource-border-column">
                <div class="card resources-card" >
                    <img  src="../../Images/ceiling-lighting-solutions-feature-prr08muda52un6dpk0majwvd243lfa31w5cnu6v2h0.jpeg" alt="Card image cap">
                    <div class="reasource-gallery-link d-flex">
                        <a href="#">LED Ceilings</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 px-3 resource-border-column">
                <div class="card resources-card">
                    <img  src="../../Images/ceiling-lighting-solutions-feature-prr08muda52un6dpk0majwvd243lfa31w5cnu6v2h0.jpeg" alt="Card image cap">
                    <div class="reasource-gallery-link d-flex">
                        <a href="#">LED Ceilings</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 px-3 resource-border-column">
                <div class="card resources-card" >
                    <img  src="../../Images/ceiling-lighting-solutions-feature-prr08muda52un6dpk0majwvd243lfa31w5cnu6v2h0.jpeg" alt="Card image cap">
                    <div class="reasource-gallery-link d-flex">
                        
                        <a href="#">LED Ceilings</a>
                    </div>
                  </div>
            </div>
        </div>-->

        <!--End Of Gallery Section-->
        <div class="container pb-5">
            <div class="row resource-gallery-section">
                <div class="col-lg-4 col-md-6 px-3 resource-border-column">
                    <div class="resources-card">
                        <img src="../../Images/ceiling-lighting-solutions-feature-prr08muda52un6dpk0majwvd243lfa31w5cnu6v2h0.jpeg"
                            alt="Card image cap" />
                        <div class="reasource-gallery-link d-flex">

                            <a href="#"><span><i class="bi bi-arrow-right"></i></span> LED Ceiling </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 px-3 resource-border-column">
                    <div class="resources-card">
                        <img src="../../Images/ceiling-lighting-solutions-feature-prr08muda52un6dpk0majwvd243lfa31w5cnu6v2h0.jpeg"
                            alt="Card image cap" />
                        <div class="reasource-gallery-link d-flex">
                            <a href="#">LED Ceilings</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 px-3 resource-border-column">
                    <div class="resources-card">
                        <img src="../../Images/ceiling-lighting-solutions-feature-prr08muda52un6dpk0majwvd243lfa31w5cnu6v2h0.jpeg"
                            alt="Card image cap" />
                        <div class="reasource-gallery-link d-flex">
                            <a href="#">LED Ceilings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Resources Gallery Section End-->
        <!--Resources FAQ's-->
        <div class="row py-5 px-4 resource-faq-section">
            <div class="col-lg-3">
                <div class="resources-article-heading">
                    <p class="m-0">FAQ's</p>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
        <!--Resources FAQ's End-->
        <!--Resource Application start-->
        <div class="container-fluid application_sec px-0 py-3">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 my-2 px-4">
                    <div class="ls-you-might-like-sec">
                        <div class="ls-appliaction-head d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                            </svg>
                            <h3 class="m-0">You Might Like</h3>
                        </div>
                        <div class="inner_spacer py-3"></div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                                    </svg></span> Illuminated Whole Feature Walls </a>
                        </div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                                </svg>Illuminated Whole Feature Walls</a>
                        </div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                                    </svg></span>Illuminated Whole Feature Walls</a>
                        </div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"><span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                                    </svg></span>Illuminated Whole Feature Walls</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 my-2 px-4">
                    <div class="you_might_like_sec center">
                        <div class="ls-appliaction-head d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                            </svg>
                            <h3 class="m-0">You Might Like</h3>
                        </div>
                        <div class="inner_spacer py-3"></div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                                    </svg></span> Illuminated Whole Feature Walls </a>
                        </div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                                    </svg></span>Illuminated Whole Feature Walls</a>
                        </div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                                    </svg></span>Illuminated Whole Feature Walls</a>
                        </div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                                    </svg></span>Illuminated Whole Feature Walls</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 my-2 px-4">
                    <div class="you_might_like_sec ">
                        <div class="ls-appliaction-head d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                            </svg>
                            <h3 class="m-0">You Might Like</h3>
                        </div>
                        <div class="inner_spacer py-3"></div>
                        <div class="ls-appliaction-content d-flex align-items-center">
                            
                            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                            </svg>Illuminated Whole Feature Walls </a>
                        </div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                            </svg>Illuminated Whole Feature Walls </a>
                        </div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                            </svg>Illuminated Whole Feature Walls </a>
                        </div>
                        <div class="ls-appliaction-content d-flex align-items-center">

                            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                            </svg>Illuminated Whole Feature Walls </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Resource Application End-->
        <!--Divider-->
        <div class="resources-divider py-3">
        <hr> 
        </div>
        <!--Resources Order Sample-->
        <div class="row py-4 order-sample-section">
            <div class="col-lg-4 col-md-6 col-sm-12 px-4 d-flex flex-column justify-content-between mt-2">
                <h3><span><i class="bi bi-arrow-right" style="padding-right: 5px"></i></span>Order Samples</h3>
                <p class="pe-5 mt-3">We’re happy to provide samples to help you, your teams and your clients better
                    understand our
                    products.</p>
                <p class="pe-5">Get in touch with us today about your project and we’ll arrange for the right sample to
                    get to you.
                </p>
                <div class="resource-order-link">
                    <a href="#">
                        <span></span>
                        Order
                    </a>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between px-4 mt-2">
                <h3 class="ps-1"><span><i class="bi bi-arrow-right" style="padding-right: 5px"></i></span>Image Gallery
                </h3>
                <div class="image_gallery_gallery_section d-flex ">
                    <div class="gallery_box resource-gallery-box ps-2">
                        <img src="../../Images/A-walk-in-the-woods-2x3-1-ply6k4qffn2l0yql2fivqr49tm7bl9cx06j2r76t1y.jpg"
                            alt="" style="max-width: 100%; height: auto;" />
                        <div class="link_content mt-2">
                            <a href="#"><span><i class="bi bi-arrow-right"></i></span>Digital Images</a>
                        </div>
                    </div>
                    <div class="gallery_box resource-gallery-box ps-2">
                        <img src="../../Images/A-walk-in-the-woods-2x3-1-ply6k4qffn2l0yql2fivqr49tm7bl9cx06j2r76t1y.jpg"
                            alt="" style="max-width: 100%; height: auto;" />
                        <div class="link_content mt-2">
                            <a href="#"><span><i class="bi bi-arrow-right"></i></span>Real Stone Slabs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between px-4 mt-2">
                <h3><span><i class="bi bi-arrow-right" style="padding-right:5px"></i></span>Brochure</h3>
                <p class="pe-5">Spanlite are always developing new products and taking on more project challenges.
                    Download our brochure to see what we do & how we can help you.</p>

                <div class="resource-order-link">
                    <a href="#">

                        Order
                    </a>
                </div>
            </div>
        </div>
        <!--Resources Order Sample End-->
        <!--Footer-->
        <footer class="main_footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3">
                        <div class="footer_col_title">
                            <h2 class="text-white">Spanlite</h2>
                        </div>
                        <div class="footer_col_content">
                            <p class="m-0">© 2022</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3">
                        <div class="footer_col_title">
                            <h2>Quick Links</h2>
                        </div>
                        <div class="footer_pages_link d-flex">
                            <div class="footer_section_pages">
                                <p class="m-0 py-1"><a href="#">Home</a></p>
                                <p class="m-0 py-1"><a href="#">Contact Us</a></p>
                                <p class="m-0 py-1"><a href="\components\libraries\digital-images.html">Digital Image
                                        Library </a></p>
                                <p class="m-0 py-1"><a href="#">Stone Slab Library</a></p>
                            </div>
                            <div class="footer_section_pages">
                                <p class="m-0 py-1"><a href="#">Help</a></p>
                                <p class="m-0 py-1"><a href="#">Privacy Policy</a></p>
                                <p class="m-0 py-1"><a href="#">Website T&Cs </a></p>
                                <p class="m-0 py-1"><a href="#">Spanlite Bussines T&Cs</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3">
                        <div class="footer_col_title">
                            <h2>Newsletter</h2>
                        </div>

                        <div class="footer_col_content">
                            <p>
                                Signup to receive Monthly Emails with informative guides
                                up-to-date industry news and news on our latest products
                            </p>
                        </div>

                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Your email address"
                                aria-label="Username" aria-describedby="basic-addon1" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
                        style="border-top: 3px solid powderblue">
                        <div class="footer_col_title">
                            <h2 class="text-white">Contact Us</h2>
                        </div>
                        <div class="footer_col_content">
                            <p class="m-0">
                                We’d love to hear about your upcoming projects
                            </p>
                        </div>
                        <div class="footer_col_icons">
                            <i class="bi bi-facebook px-2 text-white"></i>
                            <i class="bi bi-instagram px-2 text-white"></i>
                            <i class="bi bi-twitter px-2 text-white"></i>
                            <i class="bi bi-linkedin px-2 text-white"></i>
                        </div>
                        <div class="footer_col_content">
                            <p class="m-0">info@spanlite.com</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
                        style="border-top: 3px solid powderblue">
                        <div class="footer_col_title">
                            <h2>Head Office: UK, USA & Worldwide</h2>
                        </div>
                        <div class="footer_col_content py-4">
                            <p class="m-0">Rear of 10, Colebrook Rd</p>
                            <p class="m-0">Southwick, Brighton</p>
                            <p class="m-0">West Sussex</p>
                            <p class="m-0">BN42 4AL, UK</p>
                        </div>
                        <div class="footer_col_content">
                            <p class="m-0">+ 44(0)1273007280</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column justify-content-between py-3"
                        style="border-top: 3px solid powderblue">
                        <div class="footer_col_title">
                            <h2>Canadian Division</h2>
                        </div>

                        <div class="footer_col_content py-4">
                            <p class="m-0">38 Fallingbrook Rd</p>
                            <p class="m-0">Toronto</p>
                            <p class="m-0">Ontario</p>
                            <p class="m-0">M1N 2T4</p>
                        </div>
                        <div class="footer_col_content">
                            <p class="m-0">+ 44(0)1273007280</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="container-fluid py-4 px-3">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="download_brochure_section d-flex align-items-center py-3">
                        <div class="icon_button">
                            <button type="button p-0" class="btn arrow_btn btn-info">
                                <img src="/Images/Fill-1.png" alt="" />
                            </button>
                        </div>
                        <p class="m-0 px-1">Download our Brochure</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer_images_section d-flex flex-wrap justify-content-center py-3">
                        <img src="/Images/sedex-logo.jpg" alt="" />
                        <img src="/Images/mib-logo.jpg" alt="" />
                        <img src="/Images/bp-logo.jpg" alt="" />
                        <img src="/Images/ul-logo-1.jpg" alt="" />
                        <img src="/Images/achilles-logo.jpg" alt="" />
                        <img src="/Images/safe-logo.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="design_by_section d-flex justify-content-end py-3">
                        <p class="m-0">Designed by Catherine</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer End-->
    </div>
</body>

</html>