.light-bg-grey {
    background-color: rgb(214, 214, 214);
}

.block-left {
    margin: 0 0 0 auto;
}

.btn-circle {
    width: 115px;
    height: 115px;
    font-size: 14px;
    font-weight: 400;
    border: 0;
}

.title {
font-size: none ;
}

.sutitle {
font-style: none;
}

.para {
    font-size: 16px;
    line-height: 19px;
}
