.Services-About-division {
    padding: 10px 25px;

}
.Services-About-division h2 {
    font-size: 41px;
    letter-spacing: -1px;
    line-height: 45px;
    font-weight: 400;
    color: #37515f;
}
.col-lg-4 .column{
    border-right: 1px solid #000000;
}