/*Footer*/
.main_footer {
    width: 100%;
}
.footer_section_pages p a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;      
}
.footer_section_pages {
    flex: 1;
}

.footer_col_content p {
        font-size: 16px;
        font-weight: 400;
        color: white;
}
.footer_col_title h2  {
    
    font-size: 20px;
    font-weight: 400;
    color: white;


}
.main_footer .upper-footer-section {
    background-color: #37515f;
}
.input-group input {
    
        background: none;
        border: none;     
}
.input-group input:focus{
    background: none;
}
/*Last Footer Section*/
.lower-footer.py-3.px-3{
    width: 100%;
}
.footer_images_section img {
    max-width: 100%;
    height: auto;
    padding: 0px 10px;
}

.download_brochure_section p {
    font-size: 20px;
    line-height: 21px;
    font-weight: 300;
    font-family: "R MNeue Regular", Sans-serif;
    color: #37515f;
}

.design_by_section p {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #37515f;
}

@media only screen and (max-width: 992px) {
    .footer_images_section.d-flex.flex-wrap.justify-content-center.py-3 {
        justify-content: flex-start !important;
    }

    .design_by_section.d-flex.justify-content-end.py-3{
        justify-content: flex-start !important;
    }
}

.footer-col-title-border-1::before{
    content: "";
    border-bottom : 3px solid #0693e3;
    width: 100%;
    display: inline-block;
}
.footer-col-title-border-2::before{
    content: "";
    border-bottom : 3px solid #8ed1fc;
    width: 100%;
    display: inline-block;
}
.footer-col-title-border-3::before{
    content: "";
    border-bottom : 3px solid #00d084;
    width: 100%;
    display: inline-block;
}
/*Footer
#0693e3
#8ed1fc
#00d084
*/