.led-ceiling-banner-image{
    width: 100%;
    height: 300px;
}
.led-ceiling-banner-image img{
    width: 100%;
    height: 300px;
}
.sub-heading h6{
    color: #0092d1;
}
.led-ceiling-main-heading{
    color: #0092d1;
    font-size: 1.46em;
    
}
.primary-text-widget{
    font-size: 1.0625rem;
    color: #404040;
}
.sub-heading h6 a{
    border-bottom: 1px solid #37515f;
    color: #37515f;
}

.led-ceiling-lightfield-1.py-3{
    background-color: #12B4F0;
}
.led-ceiling-lightfield-2.py-3{
    background-color: #0CCACA;
}
.led-ceiling-lightfield-3.py-3{
    background-color: #2ACB7D;
}
/**/
#light-field-1 {
    background-color: #12B4F0;
}
#light-field-2 {
    background-color: #0CCACA;
}
#light-field-3 {
    background-color: #2ACB7D;
}
.lightfield-row h6{
    font-size: 14pt;
}
.led-ceiling-image img{
    max-width: 100%;
    height: auto;
}

.lightfield-row .col-lg-6.p-4 img{
    max-width: 100%;
    height: auto;
}
.ceilings-considration-links h6{
    color: #0092d1;
}
.ceilings-considration-links .considration-links div a{
    border-bottom: 1px solid #37515f;
}
/**/