.Services-About-heading {
    padding: 10px 25px;

}

.Services-About-heading h2 {
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 45px;
    font-weight: 400;
    color: #37515f;
}

.Services-About-content {
    padding: 10px 15px;
}

.Services-About-content p {
    line-height: 27px;
    font-size: 21px;
    color: #37515f;
}