@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import url("./font-awesome-variables.scss");
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";


// nav styling
@import url("./base.scss");
@import url("./home.scss");
@import url("./nav.scss");
@import url("./project.scss");
@import url("./resources.scss");
@import url("./Services.scss");
@import url("./style1.scss");
@import url("./product.scss");
@import url("./stone.scss");
@import url("./contact.scss");
@import url("./terms.scss");
@import url("./edge-lit-glass.scss");
@import url("./michael-bank.scss");
@import url("./display-light-box.scss");
@import url("./coming-soon.scss");
@import url("./onyx-marble-images.scss");
@import url("./eiko-jones.scss");
@import url("./bling.scss");
@import url("./led-ceilings.scss");
@import url("./footer.scss");
/*Recent Projects*/
img.card-img {
   max-width: 100%;
   height: auto;
}
/*@media only screen and (max-width: 500px){
    img.card-img {
        height: 280px;
        width: 400px;
    } 
}*/
.recent_projects {
    width: 100%;
    background-color: #37515f;
    margin: 20px 0px 0px 0px;
}

#border_right_column {
    border-right: 1px solid #9BA8AF;
}

.recent_project_heading h2 {
    font-size: 35px;
    font-weight: 350;
    color: white;
    line-height: 45px;
    letter-spacing: -1px;
}

@media only screen and (max-width: 992px) {
    #border_right_column {
        border-right: none;
    }
}

.card-img-overlay {
    transform: translateY(28rem);
    transition: transform 0.18s ease-in;
    background-color: rgba(0, 0, 0, 0.1);
    
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 576px) {
    .card-img-overlay {
        transform: translateY(40rem);
    }

    .card-title {
        margin: 0 !important;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
    }

    .card-img-overlay .card-text {

        margin: 0 !important;
        font-size: 20px;
        font-weight: 300;
        line-height: 27px;
    }

    .card-img-overlay .btn {
        font-size: 7px;
    }
}

.card-img-overlay .card-text {
    opacity: 0;
    transform: translateY(-6rem);
    transition: opacity 1s ease-in, transform 0.25s ease-in;
}

.card-img-overlay .btn {
    opacity: 0;
    transform: translateY(2rem);
}

.card {
    overflow: hidden;
    background-color: #345;
    border: none !important;
}

.card:hover .card-img {
    mix-blend-mode: overlay;
}

.card:hover .card-img-overlay {
    transform: translateY(0);
    transition: transform 1s ease-out;
    background-color: rgba(0, 0, 0, 0.1);
}

.card:hover .card-text {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 0.2s ease-out;
}

.card:hover .btn {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.7s ease-out, transform 0.35s ease-out;
}

.view_all_link a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-weight: 300;
}
/*Recent Projects End*/
/*lS Applications part Start
.ls-appliaction-content.d-flex.align-items-center a {
    text-decoration: none;
    color: #37515f;
    margin: 6px 0px;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
} */
.ls-appliaction-head.d-flex.align-items-center h3.m-0 {
    color: #37515f;
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 300;
}
/*lS Applications part End*/
/* digital image library image hover scss
/*Banner Section Css*/
.main-banner{
    width: 100%;
    background-color: var(--theme_color);
    padding: 40px 30px 40px 30px;
    .image-lib-banner-head{
        margin-bottom: 20px;
       h2{
        color: white;
        font-size: 25px;
    font-weight: normal;
    } 
    }
    .image-lib-banner-content{
        margin-bottom: 30px;
        p{
            color: white;
            font-weight: 400;
            font-size: 18px;
        }
    }

    .stratum-image-glass{
        margin-top: 40px;
        a{
            text-decoration: none;
            color: white;
            font-size: 19px;
            font-weight: 500;
            line-height: 1px;
}
        }
    } 
    /*End Of Banner Section*/
  /*Gallery Section*/
  .img-library-cards{
     p{
        font-size: 18px;
        font-weight: 600;
        display: block;
     }
     #blue-color{
        color: #0092D1;
     }
     #seagreen-color{
        color: #40E0D0;
     }
     #green-color{
        color: #70D670;
     }
    .img-hover-zoom {
        /* [1.1] Set it as per your need */
       overflow: hidden; /* [1.2] Hide the overflowing of child elements */
     }
     img {
        transition: transform .5s ease;
        max-width: 100%;
        height: auto;
        width: 100%;
      }
      .img-hover-zoom:hover img {
        transform: scale(1.1);
      }
  }
 
/*@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 auto;
    width: 32.333333%;
}
  }*/
/*End of gallery*/
/* digital image library image hover scss */
/*all links are set */
a {
    text-decoration: none;
    color: #37515f;
}
a:hover{
    color: #37515f;
}
/*all links are set above */
/*privacy css*/
.privacy-content{
    color: #37515f;
}