.terms-heading {
    padding: 10px 25px;

}


.terms-heading h2 {
    font-size: 41px;
    letter-spacing: -1px;
    line-height: 45px;
    font-weight: 400;
    color: #37515f;
}

.terms-content {
    padding: 10px 15px;
}

.terms-content p {
    line-height: 27px;
    font-size: 21px;
    color: #37515f;
}